<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PEP 1 Mingeso</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<div th:replace="navbar.html"></div> <!-- Formato de css y navbar para todas las vistas -->
<div class="container-sm">
    <table class="table table-dark table-striped table-bordered">
        <tbody>
            <tr>
                <td><p>Cargar archivos de Acopio (en formato .csv)</p></td>
                <td>
                    <a class="btn btn-primary" href="/subirArchivoA" role="button">Subir Archivo</a>
                    <a class="btn btn-danger" href="/vaciarAcopio" role="button">Vaciar base de datos</a>
                    <a class="btn btn-primary" href="/listaAcopio" role="button">Ver Acopio</a>
                    <p th:text="${mensaje1}"></p>
                    <p th:text="${mensaje2}"></p>
                </td>
            </tr>
            <tr>
                <td><p>Cargar Archivo de Grasas y Solidos (en formato .csv)</p></td>
                <td>
                    <a class="btn btn-primary" href="/subirArchivoG" role="button">Subir Archivo</a>
                    <a class="btn btn-danger" href="/vaciarGrasaSolido" role="button">Vaciar base de datos</a>
                    <a class="btn btn-primary" href="/listaGrasaSolido" role="button">Ver lista de Grasas y Solidos</a>
                    <p th:text="${mensaje3}"></p>
                    <p th:text="${mensaje4}"></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>


</body>
</html>